/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.footer {
  background-color: #AA0601;
  max-width: 100%;
  color: #fff;
}
.footer .footer_outside {
  width: 1080px;
  margin: 0 auto;
}
.footer .footer_outside .menu_icon {
  display: flex;
  justify-content: space-between;
}
.footer .footer_outside .menu_icon .menu {
  display: flex;
  justify-content: space-between;
}
.footer .footer_outside .menu_icon .menu li {
  margin-top: 48px;
  margin-bottom: 37px;
}
.footer .footer_outside .menu_icon .menu a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  margin-right: 48px;
}
.footer .footer_outside .menu_icon .icon {
  margin-top: 36px;
}
.footer .footer_outside .menu_icon .icon :nth-child(2) {
  padding: 0px 32px;
}
.footer .footer_outside .phone, .footer .footer_outside .email {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}
.footer .footer_outside .phone img, .footer .footer_outside .email img {
  margin-right: 12px;
}
.footer .footer_outside .phone p, .footer .footer_outside .email p {
  font-size: 36px;
}
.footer .footer_outside .line {
  width: 1080px;
  border: 1px solid white;
  margin-bottom: 24px;
}
.footer .footer_outside .copyright {
  display: flex;
  justify-content: space-between;
  padding-bottom: 28px;
}
.footer .footer_outside .copyright .copy {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer_outside .copyright .copy img {
  margin-right: 38px;
}
.footer .footer_outside .copyright .term {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer_outside .copyright .term li:nth-child(1) {
  padding-right: 62px;
}